<p style="color: green"><%= notice %></p>

<h2>Users</h2>

<%= link_to "New user", new_user_path, class: "btn btn-primary" %>

<div class="row" id="users">
  <% @users.each do |user| %>
    <div class="col-md my-2">
      <%= render user %>
      <%= link_to "Show this user", user %>
    </div>
  <% end %>
</div>
