<p style="color: green"><%= notice %></p>

<h2>Our users</h2>

<div class="row" id="users">
  <% @users.each do |user| %>
    <div class="col-md my-2">
      <div class="card" style="max-width: 18rem">
        <img src="/assets/bob.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <%= user.try(:name).to_s + user.try(:lastname).to_s %>
          </h5>
          <p class="card-text">
            role
          </p>
          <%= link_to "Show this user", user, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate @users %>

<style>
    .pagination a, .pagination span.current, .pagination span.gap {
        float: left;
        padding: 0 14px;
        line-height: 38px;
        text-decoration: none;
        background-color: white;
        border: 1px solid #DDD;
        border-left-width: 0;
    }

    .pagination {
        border-left: 1px solid #ddd;
    }
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }

    .last{
        padding : 0;
        float: none;
        border: none;
    }

</style>
