<h1>Ignite your learning journey with Flamma!</h1>

<p>Flamma is an innovative educational project designed to fuel your passion for knowledge. We believe that learning should be an exciting and transformative experience, and that's exactly what we deliver.</p>

<p>
  With Flamma, you'll embark on a journey where curiosity is encouraged, and growth is inevitable. We offer a diverse range of courses and programs tailored to meet the needs of learners at every stage of their educational journey.
</p>

<p>
  Whether you're a student looking to explore new subjects or a professional seeking to enhance your skills, Flamma has something for everyone. Our expert instructors are passionate about their fields and are committed to providing engaging and interactive learning experiences.
</p>

<p>
  At Flamma, we understand that education extends beyond the traditional classroom. That's why we leverage the power of technology to offer flexible online learning options, allowing you to access our courses anytime, anywhere. From interactive video lessons to collaborative discussion forums, we've created a dynamic learning environment that adapts to your busy schedule.
</p>

<p>
  We believe in the transformative power of education to shape lives and create opportunities. Join Flamma today and unlock your true potential. Ignite your learning journey with us and discover a world of endless possibilities.
</p>

<p>
  Get ready to kindle the flame of knowledge with Flamma!
</p>

<div class="row text-center">
  <div class="col-md my-2 d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Artem Sokolov</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">GitHub</a>
      </div>
    </div>
  </div>
  <div class="col-md my-2 d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Bohdan Yunakov</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">GitHub</a>
      </div>
    </div>
  </div>
  <div class="col-md my-2 d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Nikita Kucherov</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">GitHub</a>
      </div>
    </div>
  </div>
</div>