<div id="<%= dom_id category %>">
  <p>
    <strong>Category:</strong>
    <%= category.category %>
  </p>

<!--  <p>-->
<!--    <strong>Posts:</strong>-->
    <%#= category.posts %>
<!--  </p>-->

</div>
